Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-Login==0.6.3
python-dotenv==1.0.1
PyMySQL==1.1.1
Pillow==11.3.0
psycopg2-binary==2.9.10
requests==2.32.3
redis==5.0.8
pulsar-client==3.13.0
PyJWT==2.9.0
